@import url("https://fonts.googleapis.com/css?family=Josefin Sans");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  background: #F1EEEA;
  max-width: 1920px;
  padding: 0 25px;
  margin: 0 auto;
}

.wrapper .header {
  padding: 10px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  grid-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F1EEEA;
  width: 100%;
}

.wrapper .header .Logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .Logo .logo-image img {
  max-width: 100%;
  width: 70%;
}

.wrapper .header .Logo .logo-text {
  padding: 10px 15px;
}

.wrapper .header .Logo .logo-text h1 {
  font-family: Josefin Sans;
  font-size: 38px;
  color: #000;
  font-weight: 800;
  width: 100%;
  margin-top: 12px;
}

.wrapper .header .Navigation nav {
  float: right;
  margin-top: 5px;
}

.wrapper .header .Navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  margin: 0;
}

.wrapper .header .Navigation nav ul li {
  padding: 10px 15px;
}

.wrapper .header .Navigation nav ul li a {
  text-decoration: none;
  color: #343434;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: sans-serif;
  text-transform: capitalize;
}

.wrapper .header .Navigation nav ul li a button {
  padding: 8px 30px;
  border: 2px solid #B69B74;
  color: #816843;
  font-family: sans-serif;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.wrapper .header .Navigation nav ul li a button:hover {
  color: #fff;
  background: #B69B74;
  -webkit-box-shadow: 0px 8px 48px -12px #343434;
          box-shadow: 0px 8px 48px -12px #343434;
}

.wrapper .section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 50% 10%;
      grid-template-columns: 40% 50% 10%;
  grid-gap: 0;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  margin-top: 30px;
}

.wrapper .section-1 .section-1-text {
  padding: 10px 15px;
}

.wrapper .section-1 .section-1-text .banner-text {
  margin-top: 150px;
}

.wrapper .section-1 .section-1-text .banner-text h2 {
  font-size: 80px;
  font-family: Josefin Sans;
  color: #343434;
  font-weight: 600;
}

.wrapper .section-1 .section-1-text .banner-text-message {
  padding: 10px 10px;
  margin-top: 60px;
}

.wrapper .section-1 .section-1-text .banner-text-message p {
  font-size: 25px;
  color: #343434;
  font-family: sans-serif;
  font-weight: 0;
}

.wrapper .section-1 .section-1-text .banner-text-button button {
  padding: 19px 51px;
  border: 2px solid #B69B74;
  color: #816843;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.wrapper .section-1 .section-1-text .banner-text-button button:hover {
  color: #fff;
  background: #B69B74;
  -webkit-box-shadow: 0px 8px 48px -12px #343434;
          box-shadow: 0px 8px 48px -12px #343434;
}

.wrapper .section-1 .section-1-image {
  position: relative;
}

.wrapper .section-1 .section-1-image .banner-main-image img {
  max-width: 100%;
  width: 100%;
}

.wrapper .section-1 .section-1-image .banner-second-image {
  position: absolute;
  bottom: -5%;
  right: -10%;
}

.wrapper .section-1 .section-1-image .banner-second-image img {
  max-width: 100%;
  width: 400px;
  -webkit-box-shadow: 0px 8px 48px -12px #343434;
          box-shadow: 0px 8px 48px -12px #343434;
}

.wrapper .section-1 .section-1-side-menu {
  padding: 10px 10px;
}

.wrapper .section-1 .section-1-side-menu .sidebar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper .section-1 .section-1-side-menu .sidebar-icons a i {
  font-size: 30px;
  color: #343434;
  margin: 15px 0;
}

.wrapper .section-1 .section-1-side-menu .VL {
  background: #000;
  width: 3px;
  height: 120px;
  margin: 0 auto;
}

.wrapper .section-1 .section-1-side-menu .sidebar-about {
  margin-top: 50px;
  padding: 0 30px;
}

.wrapper .section-1 .section-1-side-menu .sidebar-about h3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper .section-1 .section-1-side-menu .sidebar-about h3 a {
  font-size: 25px;
  color: #000;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper .section-2 {
  padding-top: 120px;
}

.wrapper .section-2 .section-2-background {
  position: relative;
}

.wrapper .section-2 .section-2-background img {
  max-width: 100%;
  width: 80%;
  height: 80vh;
}

.wrapper .section-2 .section-2-background .image-text {
  position: absolute;
  right: 5%;
  top: 20%;
}

.wrapper .section-2 .section-2-background .image-text h3 {
  font-family: Josefin Sans;
  font-size: 80px;
  text-align: right;
  text-transform: capitalize;
  font-weight: 600;
  color: #343434;
}

.wrapper .section-2 .section-2-background .image-message {
  width: 600px;
  height: 320px;
  position: absolute;
  bottom: -10%;
  right: 5%;
  padding: 48px 96px;
  background: #656b50;
}

.wrapper .section-2 .section-2-background .image-message p {
  font-size: 19px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: auto 0;
}

.wrapper .section-2 .section-2-background .image-message a {
  color: #B69B74;
  text-decoration: none;
  font-size: 19px;
  position: absolute;
  left: 240px;
  margin-top: 60px;
  font-family: sans-serif;
  text-transform: capitalize;
}

.wrapper .section-2 .section-2-background .image-message a i {
  font-size: 19px;
  margin: 5px 0;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapper .section-2 .section-2-background .image-message a:hover i {
  margin-left: 18px;
}

.wrapper .section-3 {
  margin-top: 100px;
}

.wrapper .section-3 .our-service .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper .section-3 .our-service .service .service-logo i {
  font-size: 6rem;
  color: #B69B74;
}

.wrapper .section-3 .our-service .service .service-title {
  font-family: Josefin Sans;
  padding: 15px 0;
}

.wrapper .section-3 .our-service .service .service-title h2 {
  color: #343434;
  font-size: 38px;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper .section-3 .our-service .service .service-description {
  text-align: center;
  padding: 5px 8px;
}

.wrapper .section-3 .our-service .service .service-description p {
  font-size: 19px;
  color: #343434;
}

.wrapper .section-4 {
  background: #eee8df;
}

.wrapper .section-4 .our-best .our-best-left .left-title {
  font-family: Josefin Sans;
}

.wrapper .section-4 .our-best .our-best-left .left-title h2 {
  font-size: 83px;
  color: #343434;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper .section-4 .our-best .our-best-left .left-descritpion p {
  font-size: 25px;
  color: #343434;
  font-weight: 0;
  text-transform: capitalize;
}

.wrapper .section-4 .our-best .our-best-left .left-image {
  margin-top: 50px;
}

.wrapper .section-4 .our-best .our-best-left .left-image img {
  max-width: 100%;
  width: 95%;
  -webkit-box-shadow: 0px 8px 48px -12px #343434;
          box-shadow: 0px 8px 48px -12px #343434;
}

.wrapper .section-4 .our-best .right-text .right-text-heading {
  font-family: Josefin Sans;
}

.wrapper .section-4 .our-best .right-text .right-text-heading h2 {
  font-size: 38px;
  color: #343434;
  font-weight: 600;
  text-transform: capitalize;
  margin: 15px 0;
}

.wrapper .section-4 .our-best .right-text .right-text-description p {
  font-size: 19px;
  color: #343434;
  font-weight: 0;
  letter-spacing: 0.5px;
  padding-bottom: 24px;
  margin-bottom: 16px;
  line-height: 30px;
}

.wrapper .section-4 .our-best .text-tab .text-tab-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-family: Josefin Sans;
  cursor: pointer;
}

.wrapper .section-4 .our-best .text-tab .text-tab-heading h4 {
  font-size: 25px;
  padding: 16px 0;
  text-transform: capitalize;
  font-weight: 500;
  color: #343434;
}

.wrapper .section-4 .our-best .text-tab .text-tab-heading .rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrapper .section-4 .our-best .text-tab .text-tab-heading i {
  font-size: 20px;
  color: #343434;
}

.wrapper .section-4 .our-best .text-tab .text-tab-description {
  display: none;
}

.wrapper .section-4 .our-best .text-tab .text-tab-description p {
  font-size: 18px;
  color: #343434;
  letter-spacing: 0.5px;
  line-height: 30px;
}

.wrapper .section-5 {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper .section-5 .our-team {
  margin-top: 60px;
}

.wrapper .section-5 .our-team .team-heading {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.wrapper .section-5 .our-team .team-heading h3 {
  font-size: 38px;
  color: #B69B74;
  text-transform: capitalize;
  font-family: Josefin Sans;
  font-weight: 600;
}

.wrapper .section-5 .our-team .team-heading p {
  font-size: 19px;
  color: #343434;
}

.wrapper .section-5 .Team-members {
  margin-top: 50px;
}

.wrapper .section-5 .Team-members .team {
  padding: 0;
}

.wrapper .section-5 .Team-members .team .team-member-image {
  overflow: hidden;
}

.wrapper .section-5 .Team-members .team .team-member-image img {
  max-width: 100%;
  width: 100%;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  cursor: pointer;
}

.wrapper .section-5 .Team-members .team .team-member-image img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.wrapper .section-5 .Team-members .team .team-member-profile {
  text-align: center;
  margin-top: 60px;
}

.wrapper .section-5 .Team-members .team .team-member-profile #name {
  font-family: Josefin Sans;
  font-size: 38px;
  color: #343434;
  font-weight: 600;
  text-transform: capitalize;
  margin: 20px 0 30px 0;
}

.wrapper .section-5 .Team-members .team .team-member-profile #designation {
  color: #B69B74;
  font-size: 19px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 15px 0;
  font-family: sans-serif;
}

.wrapper .section-5 .Team-members .team .team-member-profile #phone {
  font-size: 19px;
  font-family: sans-serif;
  color: #343434;
  font-weight: 100;
}

.wrapper .section-5 .Team-members .team .team-member-profile #mail {
  font-size: 19px;
  font-family: sans-serif;
  color: #343434;
  font-weight: 100;
  margin-bottom: 30px;
}

.wrapper .section-5 .Team-members .team .team-member-profile .VL {
  width: 2px;
  height: 50px;
  background: #000;
  margin: 0 auto;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.wrapper .section-5 .Team-members .team .team-member-profile p {
  padding: 15px 20px;
  font-size: 16px;
  color: #343434;
  font-weight: 0;
  font-family: sans-serif;
}

.wrapper .section-6 {
  background: #eee8df;
}

.wrapper .section-6 .About-us {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper .section-6 .About-us .about-heading {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.wrapper .section-6 .About-us .about-heading h3 {
  font-size: 38px;
  color: #343434;
  font-family: Josefin Sans;
  font-weight: 500;
}

.wrapper .section-6 .About-us .thumbnail-image div {
  position: relative;
}

.wrapper .section-6 .About-us .thumbnail-image div img {
  max-width: 100%;
  width: 100%;
  max-height: 500px;
  opacity: 0.65;
}

.wrapper .section-6 .About-us .thumbnail-image div #play-button, .wrapper .section-6 .About-us .thumbnail-image div #play-button2 {
  font-size: 80px;
  color: #f5f5f5;
  position: absolute;
  left: 48%;
  top: 38%;
  cursor: pointer;
  -webkit-transition: font-size 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
}

.wrapper .section-6 .About-us .thumbnail-image div #play-button:hover, .wrapper .section-6 .About-us .thumbnail-image div #play-button2:hover {
  font-size: 85px;
}

.wrapper .section-6 .About-us .thumbnail-image div .thumbnail-caption {
  text-align: center;
  padding: 20px 0;
  font-family: Josefin Sans;
}

.wrapper .section-6 .About-us .thumbnail-image div .thumbnail-caption h3 {
  font-size: 38px;
  color: #343434;
  font-weight: 600;
  text-transform: capitalize;
}

.wrapper .section-6 .About-us .thumbnail-image div .thumbnail-caption a {
  color: #B69B74;
  text-decoration: none;
  font-size: 19px;
  padding: 0px 30px;
  position: relative;
  text-transform: capitalize;
}

.wrapper .section-6 .About-us .thumbnail-image div .thumbnail-caption a i {
  font-size: 19px;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0px;
  top: 0px;
}

.wrapper .section-6 .About-us .thumbnail-image div .thumbnail-caption a:hover i {
  right: -10px;
}

.wrapper .section-6 .footer-image img {
  max-width: 100%;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */